.square {
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  justify-content: stretch;
  align-items: stretch;
  width: 500px;
  height: 500px;
  margin: auto;
  border: 5px solid black;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Bungee, 'Courier New', Courier, monospace;
}

button {
  all: unset;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
  border: 5px solid black;
  border-radius: 15px;
  padding: 10px;

}